{% ckan_extends %}

{% block info_module  %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-question-circle"></i> {{ _('Help') }}</h2>
      <div class="module-content">
        <p>
<p>
For more information, please refer to the 
<a target="out" href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Audit+User+Guide">User Guide</a>.
</p>
<p>
If you have questions, our <a href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Audit+User+FAQ">FAQ page</a> may assist, or feel free to contact us at <a href="mailto:lw-dam-support@csiro.au">lw-dam-support@csiro.au</a>.
</p>
      </div>
    </section>

    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What are digital assets?') }}</h2>
      <div class="module-content">
        <p>
Digital Assets are self-contained digital objects that are of value to an individual or an organisation, such as datasets, software (which may include implementations of numerical models), web sites, web services and other digital platforms.
<br/>
<br/>

Asset classes in scope:
<ul>
<li>
  <b>Data collection</b> (aka. dataset) related as part of research projects, as well as data sourced from others. Metadata (data about data) is included within the definition of a dataset.
</li>
<li>
<b>Software</b> or codebases (including numerical and other models represented in code) created by researchers.
</li>
<li>
<b>Web services</b>, websites, digital systems and platforms that have been deployed.
</li>
</ul>

This registry serves as a platform for registering new digital assets not considered 'production-ready', or not owned by CSIRO.
Please consider depositing 'production-ready' digital assets in the <a target="out" href="http://data.csiro.au/dap">CSIRO's Data Access Portal</a>.
        </p>
      </div>
    </section>


{% endblock %}



