{% ckan_extends %}

{% block subtitle %}{{ _("Digital Assets") }}{% endblock %}


{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Digital Assets'), controller='package', action='search', named_route=dataset_type + '_search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block page_primary_action %}
        {% if h.check_access('package_create') %}
          <div class="page_primary_action">
            {{ h.snippet ('snippets/add_dataset.html', dataset_type=dataset_type) }}
          </div>
        {% endif %}
{% endblock %}

