{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% block package_basic_fields_custom %}
  {{ form.input('other_affiliates', label=_('Other affiliates'), id='field-other_affiliates', placeholder=_('Other affiliates'), value=data.other_affiliates, error=errors.other_affiliates, classes=['control-medium']) }}
  {{ form.select('asset_type', label=_('Asset type'), id='field-asset_type', options=[{'value':'dataset', 'name':'Data collection', 'text':'Data collection'}, {'value':'software', 'text':'Software'},{'value':'web-service', 'text':'Web Service'}, {'value':'other', 'text':'Other'}], error=errors.asset_type, classes=['control-medium']) }}
  {{ form.select('asset_status', label=_('Asset status'), id='field-asset_status', options=[{'value':'not_managed-media_storage', 'text':'Not corporately managed - Media storage or USB'}, {'value':'not_managed-localcomputer', 'text':'Not corporately managed - Local computer'}, {'value':'not_managed-network_drive', 'text':'Not corporately managed - Network drive'}, {'value':'published_external-repo', 'text':'Published via external repository'}, {'value':'published-dap', 'text':'Published via CSIRO DAP'}], error=errors.asset_status, classes=['control-medium']) }}
  {{ form.input('asset_owner', label=_('Asset owner'), id='field-asset_owner', placeholder=_('Asset owner'), value=data.asset_owner, error=errors.asset_owner, classes=['control-medium']) }}
  {{ form.input('related_projects', label=_('Related projects'), id='field-related_projects', placeholder=_('Related project'), value=data.related_projects, error=errors.related_projects, classes=['control-medium']) }}
  {{ form.input('related_publications', label=_('Related publications'), id='field-related_publications', placeholder=_('Related publications'), value=data.related_publications, error=errors.related_publications, classes=['control-medium']) }}
  {{ form.textarea('notes', label=_('Notes'), id='field-notes', placeholder=_('Notes to DAMC'), value=data.notes, error=errors.notes, classes=['control-medium']) }}
  {{ form.checkbox('verified', label=_('Verified'), id='field-verify', checked=false, error=errors.verified) }}

{% endblock %}
