{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% block package_basic_fields_title %}
{{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}) }}
{% endblock %}

{% block package_basic_fields_url %}
  {% set prefix = h.url_for(controller='package', action='read', id='') %}
  {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<digital-asset-package>'} %}
  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-digital-asset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
{% endblock %}


{% block package_basic_fields_custom %}
  {% resource 'digitalassetfields/digitalassetfields_tooltips.js' %}
  {% resource 'resources/noty' %}
  {% block package_asset_type %}
     {% set tag_attrs = {'data-module': 'digitalassetfields_tooltips', 'data-module-add_help_icon': 'true', 'data-module-tooltip': 'Asset type refers to a digital asset of these kinds: Data collection / Software / Other digital asset'}  %}
     {{ form.select('asset_type', label=_('Asset type'), id='field-asset_type', options=[{'value':'dataset', 'name':'Data collection', 'text':'Data collection'}, {'value':'software', 'text':'Software'},{'value':'web-service', 'text':'Web Service'}, {'value':'other', 'text':'Other'}], error=errors.asset_type, classes=['control-medium'], attrs = tag_attrs) }}
  {% endblock %}
  {% block package_asset_status %}
    {% set tag_attrs = {'data-module': 'digitalassetfields_tooltips', 'data-module-add_help_icon': 'true', 'data-module-tooltip': 'Where is this digital asset currently managed or archived?'}  %}
    {{ form.select('asset_status', label=_('Asset status'), id='field-asset_status', options=[{'value':'sm_local-media_storage', 'text':'Self-managed on media storage (USB, ext hard drive)'}, {'value':'sm_local-pc', 'text':'Self-managed on Local computer'}, {'value':'sm_network_drive', 'text':'Self-managed on Network drive'}, {'value': 'tm_network_drive', 'text': 'Team-managed on Network drive'}, {'value':'published_external-repo', 'text':'Published via external repository'}, {'value':'published_dap', 'text':'Published via CSIRO DAP'}, {'value':'other', 'text':"Other (add notes)"}], error=errors.asset_status, classes=['control-medium'], attrs=tag_attrs) }}
  {% endblock %}
  {% block package_basic_fields_description2 %}
    {% set tag_attrs = {'data-module': 'digitalassetfields_tooltips', 'data-module-add_help_icon': 'true', 'data-module-tooltip': 'A description of the digital asset package. This may include but is not limited to: an abstract or a free-text account of the digital asset.'}  %}
    {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes, attrs=tag_attrs) }}
  {% endblock %}
  {% block package_asset_owner %}
    {% set tag_attrs = {'data-module': 'digitalassetfields_tooltips', 'data-module-add_help_icon': 'true', 'data-module-tooltip': 'Field to specify the organisations who is the owner of this digital asset. This could be CSIRO or an external organisation in the case that the data was procured from external sources. ' } %}
    {{ form.input('asset_owner', id='field-tags', label=_('Asset owner'), placeholder=_('e.g. CSIRO'), value=data.asset_owner, error=errors.asset_owner, classes=['control-full'], attrs=tag_attrs) }}
  {% endblock %}

{% block package_basic_license %}
  <div class="control-group">
    {% set error = errors.license_id %}
    <label class="control-label" for="field-license">{{ _("License") }}</label>
    <div class="controls">
          <select id="field-license" name="license_id" data-module="autocomplete digitalassetfields_tooltips" 
           data-module-tooltip="Choose a license for this digital asset. This will help users of this asset to know the limitations of its reuse.<br/><br/> More advice on licenses can be found below:<br/><br/><a target='license' href='https://confluence.csiro.au/display/LWCH/Digital+Asset+Audit+User+FAQ#DigitalAssetAuditUserFAQ-Q.HowdoIknowwhichlicencetochoosefrom?' class='btn btn-primary btn-lg' role='button'>FAQ</a> 
             <a target='license' href='http://opendefinition.org/licenses/' class='btn btn-primary btn-lg' role='button'>opendefinition.org</a>
" >
            {% set existing_license_id = data.get('license_id') %}
            {% for license_id, license_desc in h.license_options(existing_license_id) %}
            <option value="{{ license_id }}" {% if (existing_license_id == license_id) or (existing_license_id == None and license_id == 'notspecified') %}selected="selected"{% endif %}>{{ license_desc }}</option>
            {% endfor %}
          </select>
          {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
  </div>
{% endblock %}

{% endblock %}


{% block package_basic_fields_description %}
{% endblock %}

{% block package_basic_fields_tags %}
{% endblock %}

{% block package_basic_fields_license %}
{% endblock %}



