{% ckan_extends %}
  {% resource 'digitalassetfields/digitalassetfields_tooltips.js' %}


 {% block package_metadata_fields_url %}
     {% set tag_attrs = {'data-module': 'digitalassetfields_tooltips', 'data-module-tooltip': 'URL from where the dataset comes from (if applicable)'}  %}
    {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium'], attrs=tag_attrs) }}
  {% endblock %}

  {% block package_metadata_fields_version %}
     {% set tag_attrs = {'data-module': 'digitalassetfields_tooltips', 'data-module-tooltip': 'Version label (if applicable)'}  %}
    {{ form.input('version', label=_('Version'), id='field-version', placeholder=_('1.0'), value=data.version, error=errors.version, classes=['control-medium'], attrs=tag_attrs) }}
  {% endblock %}

  {% block package_metadata_author %}
    {% set tag_attrs = {'data-module': 'autocomplete digitalassetfields_tooltips', 'data-module-tooltip': 'Author of this dataset.', 'data-module-key': 'name', 'data-module-label': 'fullname', 'data-module-tags': '', 'data-module-source': '/api/2/util/user/autocomplete?q=?'} %}
    {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium'], attrs=tag_attrs) }}
  {% endblock %}

  {% block package_metadata_fields_maintainer %}
    {% set tag_attrs = {'data-module': 'autocomplete digitalassetfields_tooltips', 'data-module-tooltip': 'Maintainer of this dataset.', 'data-module-key': 'name', 'data-module-label': 'fullname', 'data-module-tags': '', 'data-module-source': '/api/2/util/user/autocomplete?q=?'} %}
    {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium'], attrs=tag_attrs) }}

  {% endblock %}

{% block custom_fields %}
{% endblock %}
