
<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('A resource can be any file or link to a location of a data collection, web service, or any other digital asset.') }}</p>
  </div>
</section>

<section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-question-circle"></i> {{ _('Help') }}</h2>
      <div class="module-content">
        <p>
<p>
For more information, please refer to the
<a target="out" href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Audit+User+Guide">User Guide</a>.
</p>
<p>
If you have questions, our <a href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Audit+User+FAQ">FAQ page</a> may assist, or feel free to contact us at <a href="mailto:lw-dam-support@csiro.au">lw-dam-support@csiro.au</a>.
</p>
      </div>
</section>
