
.finish-modal {
   text-align: center 
}

.modal-content.finish-modal {
   text-align: center; 
   min-height: 400px;
}

#emoji-finish-modal {
	padding-top:30px;
	  -webkit-animation-duration: 5s;
	  -webkit-animation-delay: .1s;
	  -moz-animation-duration: 5s;
	  -moz-animation-delay: .1s;
	  -ms-animation-duration: 5s;
	  -ms-animation-delay: .1s;
}

#finish-modal-btn {
	padding-top:30px;
}

#finish-modal-message {
	padding-top:30px;
	font-size: 16px;
	line-height: 26px; /* 4px +16px + 4px */
}

.asset-name {
	font-weight: bold;
}

#finishModalTitle {
	font-size: 20px;
}

.modal-title {
}
