[depends]

main = base/main

[groups]

spin = js/vendor/spin.js
       js/vendor/spin.css

noty =
    js/vendor/noty.js
    js/vendor/noty.css
    js/vendor/themes/mint.css
    js/vendor/themes/relax.css
    js/vendor/themes/light.css
    js/vendor/themes/nest.css
    js/vendor/themes/semanticui.css
    js/vendor/themes/sunset.css
